*{
    margin:0;
    padding:0;
}
html{
    font-family: 'Work Sans', sans-serif;
    color:#fff;
    scroll-behavior: smooth;
}


/*Reusable*/
.section{
    padding: 0 5vw;
    min-height: 100vh;
    background: #213039;
}

.Title{
    font-size: 4rem;
    font-weight: 300;
}

.Text{
    font-weight: 300;
    font-size: 1.5rem;
}

.LeftImage{
    width: 100%;
    height: 100%;
    position: relative;
    right: 2rem;
    bottom: 2rem;
    background: url('Photos/home_background.jpg') center no-repeat;
    background-size:  cover;
    cursor: pointer;
}

.RightImage{
    width: 100%;
    height: 100%;
    position: relative;
    left: 2rem;
    bottom: 2rem;
    background: url('Photos/home_background.jpg') center no-repeat;
    background-size:  cover;
    cursor: pointer;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    padding: 0 5vw;
    height: 6rem;
    position: fixed;
    z-index: 10;
    transition: 1s;
}

.Nav{
    display: flex;
    list-style-type: none;
}
.nav-link{    
    position: relative;
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
}

.nav-link:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background:#fff;
    transform: translateX(-50%) scaleX(0);
    transition: 0.5s;
}


.nav-link:hover:after{
    transform: translateX(-50%) scaleX(1);
}

.hamburger{
    position: absolute;
    display: none;
    right: 2rem;
    top: 2rem;
}
.line{
    width: 2rem;
    height: 2px;
    background:#fff;
    margin-bottom: 8px;
    transition: 1s;
}

.Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('Photos/home_background.jpg') center no-repeat;
    background-size:  cover;
}
.Home h1{
    text-transform: uppercase;
}

.About{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.About h1{
    margin-bottom: 2rem;
}

.textSection{
    width: 40%;
    height: 70vh;
    padding-right: 1rem;
}

.simplebar-scrollbar:before{
    background-color: #8f8f8f;
}
.simplebar-scrollbar{
    margin-left: 3px;
}

.ImageContainer{
    width: 30%;
    height: 70vh;
    background:#4B8F1A;
    margin-right: 3rem;
    margin-top: 1rem;
}
.Work h1{
    width: 100%;
    text-align: center;
    padding-bottom: 6rem;
}

.ProjectContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.LeftImageContainer{
    width: 40%;
    height: 40vh;
    background:#4B8F1A;
    margin-left: 3rem;
    margin-top: 1rem;
}

.RightImageContainer{
    width: 40%;
    height: 40vh;
    background:#4B8F1A;
    margin-right: 3rem;
    margin-top: 1rem;
}

.TextContainer{
    width: 40%;
    height: 40vh;
}

.MiniTitle{
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 1rem;
}
.MiniText{
    font-weight: 300;
    font-size: 1.3rem;
}

.TicTacToePhoto{
    background: linear-gradient(to bottom,rgba(26, 82, 0, 0.7),rgba(26,82,0,0.7)),url('Photos/MyWork/TicTacToe.png') center no-repeat;
    background-size:  cover;
}

.TicTacToePhoto:hover{
    background: url('Photos/MyWork/TicTacToe.png') center no-repeat;
    background-size:  cover;
}

.Template1Photo{
    background: linear-gradient(to bottom,rgba(26, 82, 0, 0.7),rgba(26,82,0,0.7)),url('Photos/MyWork/Template1.png') center no-repeat;
    background-size:  cover;
}
.Template1Photo:hover{
    background: url('Photos/MyWork/Template1.png') center no-repeat;
    background-size:  cover;
}

.IssueTrackerPhoto{
    background: linear-gradient(to bottom,rgba(26, 82, 0, 0.7),rgba(26,82,0,0.7)),url('Photos/MyWork/IssueTracker.png') center no-repeat;
    background-size:  cover;
}
.IssueTrackerPhoto:hover{
    background: url('Photos/MyWork/IssueTracker.png') center no-repeat;
    background-size:  cover;
}

.Template3Photo{
    background: linear-gradient(to bottom,rgba(26, 82, 0, 0.7),rgba(26,82,0,0.7)),url('Photos/MyWork/Template3.png') center no-repeat;
    background-size:  cover;
}
.Template3Photo:hover{
    background: url('Photos/MyWork/Template3.png') center no-repeat;
    background-size:  cover;
}

.Contact{
    position: relative;
    display: flex;
    align-items: center;
}

.ContactContainer{
    width: 70%;
    height: 65vh;
    padding: 2.5vh 5%;
    background:#2E6B5F;
    z-index: 2;
}
.Underline{
    width: 60%;
    height: 2vh;
    background:#fff;
}

.ContactText{
    padding-top: 5vh;
    padding-right: 5vw;
}
.InformationContainer h2{
    font-weight: 300;
}

.BackgroundContainer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 50vh;
    background:#4B8F1A;
}

@media(max-width:700px){
    .Nav{
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5rem;
        padding: 0 1rem;
        top: 0;
        right: -30vw;
        height: 50vh;
        width: 20vw;
        background: rgba(0,0,0,0.5);
        transition: 1s;
        
    }
    .nav-link{
        margin-right: 0;
    }
    
    .hamburger{
        display: block;
        z-index: 3;
    }

    .About{
        flex-direction: column-reverse;
    }
    .textSection{
        width: 80%;
        height: 40vh;
        margin: 2rem 0;
    }
    .ImageContainer{
        width: 80%;
        height: 40vh;
        margin-top: 5rem;
    }


    .ProjectContainer{
        flex-direction: column;
    }
    .ProjectContainerReverse{
        flex-direction: column-reverse;
    }
    .LeftImageContainer{
        width: 80%;
    }
    .RightImageContainer{
        width: 80%;
    }
    .TextContainer{
        width: 80%;
    }

}
@media(max-width:580px){
    .Title{
        font-size: 2.5rem;
    }
    
    .Text{
        font-weight: 300;
        font-size: 1rem;
    }

    .MiniTitle{
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 1rem;
    }
    .MiniText{
        font-weight: 300;
        font-size: 0.9rem;
    }
}

.transparent{
    height: 5rem;
    background: rgba(0,0,0,0.5);
}

.active{
    color: #4B8F1A;
}

.Show{
    right: 0;
}

.Change .line1{
    transform: rotate(-45deg) translate(-8px,6px);
}
.Change .line2{
    opacity: 0;
}

.Change .line3{
    transform: rotate(45deg) translate(-8px,-6px);
}

.FadeInAnimation{
    opacity: 0;
}

.FadeInAnimationFinal{
    opacity: 1;
    transition: opacity 1s ease;
}